<ul class='contacts-list'>
  {{#each contacts as |contact|}}
    <li>
      <div class="contact-row row">
        <div class="col s1.5">
          <img src="{{contact.avatar}}" alt="{{contact.name}}">
        </div>
        <div class="col s3">
          <h4>{{contact.name}}</h4>
          {{contact.email}}
        </div>
        <div class="phones col s3">
          <span>
             <i class="small material-icons">contact_phone</i>
            {{contact.phone}}
          </span>
          <span>
            <i class="small material-icons">settings_cell</i>
            {{contact.mobile}}
          </span>
        </div>
        <div class="address-info col s3.5">
          <span class="small material-icons">location_on</span>
          <span class="postal-address">{{contact.postal_address}}</span>
          <span class="zipcode-city">{{contact.zipcode_city}}</span>
        </div>
      </div>
      {{#if contact.children}}
        {{contact-list contacts=contact.children}}
      {{/if}}
    </li>
  {{/each}}
</ul>
