<ul class='contacts-list'>
  {{#sortable-objects sortableObjectList=contacts sortingScope='a' }}
    {{#each contacts as |contact|}}
      <li>
        <div class="contact">
          {{#draggable-object content=contact isSortable=true sortingScope='a'}}
            <div class="contact-row row" id="{{contact.id}}">
              <div class='col xl7 l7 s12 m7 first-col'>
                <div class="contact-avatar col xl2 l2 s2 m2">
                  <div class='circle'>
                    <img src="{{contact.avatar}}" alt="{{contact.name}}">
                  </div>
                  <i class="flag16 flag-gb"></i>
                </div>
                <div class="col xl8 l8 s8 m8 contact-name">
                  <p class="">
                    <strong>#{{contact.id}} {{contact.name}}</strong>
                    <small>{{contact.email}}</small>
                  </p>
                </div>
              </div>
              <div class='col xl5 l5 s12 m5 last-col'>
                <div class="phones col xl6 l6 s4 offset-s4 m6">
                  <p>
                    <span>
                       <i class="tiny material-icons">call</i>
                       {{contact.phone}}
                    </span>
                    <span>
                      <i class="tiny material-icons">stay_current_portrait</i>
                      {{contact.mobile}}
                    </span>
                  </p>
                </div>
                <div class="address-info col xl6 l6 s4 m6">
                  <p>
                    <span class="postal-address">
                      <i class="tiny material-icons">location_on</i>
                      {{contact.postal_address}}
                    </span>
                    <span class="zipcode-city">{{contact.zipcode_city}}</span>
                  </p>
                </div>
              </div>
              {{#draggable-object-target action='associate' managerId=contact.id}}
                <p>Drag here to increase rating</p>
              {{/draggable-object-target}}
            </div>
          {{/draggable-object}}
          <div class='contacts-children'>
            {{#if contact.children}}
              {{contact-list contacts=contact.children}}
            {{/if}}
          </div>
        </div>
      </li>
    {{/each}}
  {{/sortable-objects}}
</ul>
