<form class="search-form" method="get">
  <div class="form-inputs row">
    <div class="col xl6 l6 s6 m6 alpha">
      {{input type="text" name="term" value=filterTerm placeholder="Name, address, email"}}
      <i class="material-icons">search</i>
    </div>
    <div class="col xl4 l4 s4 m4 omega">
      <select onchange={{action "change" value="target.value"}}>
        {{#each sortOptions as |option|}}
          <option value={{option}} selected={{eq sort option}}>{{option}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  <div class="form-actions row">
    <button type="submit" class="btn omega" {{action 'buttonClicked' filterTerm sort}}>{{buttonLabel}}</button>
  </div>
  {{yield}}
</form>
