{{outlet}}

<div class="container">
  <table>
    <tbody>
      {{#each model as |contact|}}
        <tr class="row">
          <td>
            <h4>{{contact.name}}</h4>
            {{contact.email}}
          </td>
          <td class="phones">
            <span>
               <i class="small material-icons">contact_phone</i>
              {{contact.phone}}
            </span>
            <span>
              <i class="small material-icons">settings_cell</i>
              {{contact.mobile}}
            </span>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
